@import "tailwindcss";

.hero-title {
  @apply text-2xl text-center justify-center items-center font-bold my-10 py-5 italic;
}

.hero-main {
  @apply flex flex-col justify-center items-center bg-blue-200 
}

.hero-btn-con {
  @apply flex flex-row justify-center items-center gap-5 my-2.5 text-lg
}

.btn-link {
  @apply bg-pink-300 py-2.5 px-2.5 rounded-lg hover:bg-pink-500 transition-all duration-300 active:opacity-50 cursor-pointer;
}