@import "tailwindcss";

#root {
  @apply bg-black text-white;
}

.hero-title {
  @apply text-4xl text-center justify-center items-center font-bold my-10 py-5 italic;
}

.hero-main {
  @apply flex flex-col justify-center items-center h-screen w-screen;
}

.hero-btn-con {
  @apply flex flex-row justify-center items-center gap-5 my-5 text-lg relative overflow-hidden;
}

.btn-link {
  @apply bg-black py-2.5 px-2.5 rounded-lg hover:bg-gray-700 transition-all duration-300 active:opacity-50 cursor-pointer text-white font-semibold hover:rounded-full;
}

.lesson1-ico {
  @apply bg-pink-500 py-2 px-2 rounded mx-10 ;
}

.lesson1-prev, .lesson1-forward {
  @apply  cursor-pointer active:opacity-50;
}

.lesson1-main {
  @apply flex justify-center items-center gap-2.5 h-50 w-screen px-6 relative z-10;
}

.lesson1-title {
  @apply text-4xl italic font-bold my-5 hover:underline hover:text-pink-500 transition-all duration-300 cursor-default;
}

.lesson1 {
  @apply text-white relative text-center justify-center items-center pb-10;
}

.titleName {
  @apply flex justify-center items-center  text-3xl mt-20 font-semibold italic text-white;
}

.titlebody {
  @apply px-20 pb-30;
}
.titlenum {
  @apply font-bold text-lg italic py-2.5;
}

.lesson1btn {
  @apply bg-white text-black py-2.5 px-2.5 rounded-lg mx-2;
  @apply hover:bg-black hover:text-white transition-all duration-300 cursor-pointer active:opacity-20;
}

.hero-bg-style, .flowing-style {
  @apply w-screen h-screen;
}

.flowing-style {
  @apply py-5;
}

.truefocus {
  @apply mt-[-400px];
}

.chatbot-chatinput {
  @apply relative flex justify-center items-center gap-5 py-10;
}

.chatbot-input {
  @apply bg-white w-100 py-2 text-black rounded-lg px-2.5 focus:outline-none;
}

.chatbot-btn {
  @apply bg-pink-500 text-white rounded-lg px-5 py-2;
  @apply cursor-pointer active:opacity-50;
}

.chat-message {
  @apply relative flex items-center gap-5;
}

.chat-message-ico {
  @apply w-12;
}

.p-style {
  @apply relative;
}

.l2-style {
  @apply flex justify-center gap-2.5;
}

.l2-2c-input {
  @apply focus:outline-none bg-white text-black rounded-lg px-2.5 py-2 w-50;
}

.l2-2c-input-con {
  @apply flex flex-col justify-center items-center gap-1 pb-2.5;
}

.l2h-con {
  @apply flex text-center items-center justify-center;
}

.product-details-con {
  @apply flex flex-col justify-center items-center;
}

.product-img {
  @apply w-50;
}
.meow {
  @apply relative;
}

.img-exe {
  @apply w-150 py-5;
}

.inputtype {
  @apply bg-white text-black px-2.5 outline-none rounded-lg
}

.lesson4-title {
  @apply flex flex-col justify-center items-center text-3xl text-center font-bold italic mt-10 mb-20
}

.lesson4-text {
  @apply text-lg font-normal py-10 not-italic px-50;
}
